# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Science use are:
1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. ggplot2

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Apache Spark |
| R Studio |
| Apache Zeppelin

### Below are a few examples of evaluating arithmetic expression examples

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

<b> Objectives
- List Data Science Lanuages
- List Data Science Libraries
- List Data Science Open Source Tools
- Write arithmetic expressions

## Author
Anna Kepas-Suwara